[Desktop Entry]
Name=Meikipop
Exec=meikipop
Icon=meikipop
Type=Application
Categories=Utility;Education;Languages;
Comment=Japanese OCR Popup Dictionary
Terminal=true
StartupNotify=true
